* { margin:0; padding:0; }
li { list-style:none; }
a { text-decoration:none; }

header {
    width:100%;
    height:80px;
    background-color:#000;
    line-height:80px;
}

header h1 {
    color:#fff;
    float:left;
    margin-left:30px;
    margin-right:40px;
    font-size:38px;
}

.category {
    margin-left:20px;
}

.category li { 
    float:left; 
}

.category a {
    color:#fff;
    font-weight:bold;
    font-size:17px;
    padding:5px 15px 8px;
}

.category a:hover{
    background-color:yellowgreen;
}